.compareWrapper {
  background-color: var(--color-f5f5f7);
  padding: 40px 0;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.compareProductsBody {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}
.compareProductCard {
  position: relative;
  padding: 20px 15px;
  background-color: #fff;
  border-radius: 10px;
}
.crossImage {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  padding: 3px;
  cursor: pointer;
}

.title {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-1c1c1b);
}
.price {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 15px;
}
.productDetail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.productColors {
  display: flex;
  gap: 5px;
}
.productColor {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}
.productSizes {
  display: flex;
  gap: 10px;
}
