.headerWrapper {
  background-color: var(--color-131921);
  border-bottom: 1px solid var(--color-3b4149);
}

.headerContainer {
  width: 90%;
  margin: 0 auto;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.headertext {
  color: white;
  font-size: 15px;
}
.headerRow2 {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.headerCol2 {
  display: flex;
  align-items: center;
}
.headerCol2:last-child {
  padding-right: 0;
}
.devCorner {
  color: white;
}

.headerInput {
  display: flex;
  height: 40px;
  width: 450px;
}
.formControl {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px 0 0 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.formControl:focus {
  border-color: inherit;
  box-shadow: none;
  outline: none;
}
.inputGroupText {
  display: flex;
  align-items: center;
  padding: 6px 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.inputGroupText {
  background-color: var(--color-febd69);
}

.headerCol2 img {
  width: 35px;
  height: 35px;
}
.headerCol2 img:not(:last-child) {
  margin-right: 10px;
}
.headerService {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
}

.headerService p {
  color: #fff;
  font-size: 14px;
}

.productCount span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 20px;
  border-radius: 5px;
  background: #fff;
  text-align: center;
}

.headerMenu {
  background-color: var(--color-232f3e);
}
.headerMenuRow {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 20px 0;
}

.dropdown {
  position: relative;
}

.dropdownButton {
  white-space: nowrap;
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  display: inline-flex;
  gap: 40px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.buttonName {
  display: flex;
  align-items: center;
  gap: 10px;
}
.buttonName span {
  display: inline-block;
  margin-bottom: 8px;
}
.dropdownMenu {
  position: absolute;
  top: 44px;
  width: 100%;
  background: var(--color-131921);
  list-style: none;
  padding: 0;
  border-radius: 4px;
  z-index: 2;
}
.headerMenuLinks {
  display: flex;
  gap: 15px;
}
.headerMenuLink,
.logoutButton,
.headerMenuElement button {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
  color: #fff;
}
.logoutButton {
  border: none !important;
  background-color: transparent !important;
}
.dropdownItem {
  font-size: 14px;
  text-decoration: none;
  padding: 20px;
  margin-bottom: 3px;
  color: #fff;
}
li {
  position: relative;
  list-style: none;
}
li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--color-3b4149);
}
.displayNone {
  display: none;
}
